In [1]:
import pandas as pd

In [15]:
# 2 main datatypes 

series = pd.Series(["BMW" , "TOYOTA" , "HONDA"])
series

0       BMW
1    TOYOTA
2     HONDA
dtype: object

In [11]:
colours = pd.Series(["RED" , "BLUE" , "WHITE"])
colours

0      RED
1     BLUE
2    WHITE
dtype: object

In [16]:
# difference between a series and a dataframe 

car_data = pd.DataFrame({"car make": series , "color" :colours})
car_data

  car make  color
0      BMW    RED
1   TOYOTA   BLUE
2    HONDA  WHITE